@import "tailwindcss";

@font-face{
    font-family: "pricedown";
    src: url("./pricedown.otf")
}

html,body{
    margin: 0 0;
    width: 100%;
    height: 100%;
    font-family: "pricedown";  
}
